
   <div align="center">
   <hr>
      <br>
      <!--img src="%logo%" width="142" height="142" alt="logo"-->
      <h1>%Invited_By_Name% de %Company_Name%</h1>
      <span style="color:gray;">Te ha invitado a participar en la compañía %Company_Name% con el rol de:</span>
      <br>
      <!--img src="%icono%" width="104" height="142" alt="icono"-->
      <br>
      <h3>%Type%</h3>
      <span style="color:gray;">Para habilitar tu rol es necesario tener una cuenta de Delivery Track System(DTS)</span>
	  <br>
      <a href="%Url%" style="background-color: #91DC5A;border: none;color: white;padding: 15px 32px;text-align: center;text-decoration: none;display: inline-block;font-size: 16px;">
        Crear Cuenta 
      </a>
	  <br>
	  <hr>
   </div>