
   <div align="center">
   <hr>
      <br>
      <!--img src="%logo%" width="142" height="142" alt="logo"-->
      <h1>Solicitud de cambio de contraseña </h1>
      <span style="color:gray;">Se ha generado una solicitud de cambio de contraseña para el ingreso en la compañía %Company_Name% bajo el siguiente correo:</span>
      <br>
      <!--img src="%icono%" width="104" height="142" alt="icono"-->
      <br>
      <h3>%Mail%</h3>
      <span style="color:gray;">Para habilitar el cambio de contraseña es necesario presionar en cambio de contraseña</span>
	  <br>
      <a href="%Url%" style="background-color: #91DC5A;border: none;color: white;padding: 15px 32px;text-align: center;text-decoration: none;display: inline-block;font-size: 16px;">
        Cambio de contraseña
      </a>
	  <br>
      <span style="color:gray;">si no ha solicitado un cambio de contraseña por favor ignorar el correo</span>
	  <hr>
   </div>