
<script src="scripts/externals/jspdf.min.js"></script>
<script src="scripts/externals/jspdf.plugin.autotable.src.js"></script>

<style>
    
#Wrapper_Map{
    width: 100%;
    height:410px;
    resize: vertical;
    padding: 10px;
    overflow: auto;
} 
  
.modal {
  
}
  
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
.modal-backdrop
{
    opacity:0.9 !important;
}

.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
}
  
.modal-header-primary {
	color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #428bca;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
</style>

<div id="Contents" ng-controller="Scr_Route_Controller" ng-init="init()"> 
<div id="Options"> 
  <div style="text-align: center;">  
    <span style="display:inline-block;">
      <h4>
          Mantenimiento del Sector
      </h4>
    </span>
   </div>
  <span id="Buttons" style="margin-left:7%;">
  <span>
     <a class="btn btn-primary span4" ng-show="Show_Components.Route_Add" ng-click="Show_Components.Route_Table = false; $scope.checked=false; Show_Components.Route_Form = true; Show_Components.Route_Add = false; Show_Components.Export = false; Load();" data-toggle="tooltip" title="Agregar Ruta" >
       <i class="glyphicon glyphicon-plus"></i>Agregar Sector</a>   
	</span>
  <span ng-show="Show_Actions">
              <select style="width:175px " class="btn btn-primary span4" ng-model="Option" ng-change="Action_Option(Option)"> 
                  <option value="">Acción</option>
                  <option value="Eliminar">Eliminar</option>
              </select>
  </span>    
			<span id="right" style="float:right;" ng-show="Show_Components.Export"> 
           <select style="width:175px " class="btn btn-primary span4" ng-model="Export_Type" ng-change="Export_File(Export_Type,(ArrayRoute | filter: search | orderBy: OrderList))"> 
              <option value="">Exportar a archivo</option>
              <option value="JSON">JSON</option>
              <option value="XML">XML</option>
              <option value="CSV">CSV</option>
              <option value="PDF">PDF</option>
           </select>
      </span> 
  </span>  
  </div>
  <hr/>
  
  		<!--  Agregar -->

     <div class="row" ng-show="Show_Components.Route_Form">
       <!--Rastreo de Camión-->
			
       <div class="col-md-12 col-sm-12 col-xs-12">
         
         <div class="col-md-6">
		 		
           <div class="box">
                <div class="box-header with-border bg-blue">
                  <h3 class="box-title"><b>Mapa</b></h3>
                 <div class="box-tools pull-right">                   
                   <button class="btn btn-box-tool" data-toggle="tooltip" title="Ajustar Tamaño" ng-click="Resize();"><i class="glyphicon glyphicon-refresh"></i></button>                   
                 </div>
                </div><!-- /.box-header -->
                <div class="box-body no-padding">
                   <div id="Wrapper_Map">
								<div id="Map_Dashboard_Route" style="height:100%; width:100%;"></div>
                   </div><!-- /.box-body -->
                   <button class="btn btn-primary" ng-click="Print_Zone()"><i class="glyphicon glyphicon-eye-open"></i>  Visualizar Zona</button> 
                    <button class="btn btn-primary" ng-click="Delete_Zone()"><i class="glyphicon glyphicon-remove"></i>  Eliminar Zona</button>
                </div>
           </div>
           
           
            </div>
       
    
      
      <div class="col-md-6">
         <div class="box ">
           
           <div class="box-header with-border bg-blue">
                  <h3 class="box-title"><b></b></h3>
                 <div class="box-tools pull-right">                   
                  
                 </div>
                </div><!-- /.box-header -->
                <div class="box-body no-padding">
                 
              <!-- form start -->
                <form class="form-horizontal" ng-submit="Save_Route(Route)">
                  <div class="box-body ">
                    <div class="form-group">
						<label class="col-sm-4 control-label">Nombre del Sector:
                       <a ng-show="Show_Alerta" class="text-danger">*</a>
                      </label>
						<div class="col-sm-7"> 
							<div class="form-group">
								<input ng-readonly="checked" type="text" class="form-control" ng-model="Route.Route_Name" placeholder="Nombre del sector..." required>
							</div>
						</div>
					</div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Identificador del Sector:
                       <a ng-show="Show_Alerta" class="text-danger">*</a>
                      </label>
						<div class="col-sm-7"> 
							<div class="form-group">
								<input ng-readonly="checked" type="text" class="form-control" ng-model="Route.ID_Route" placeholder="Identificador del sector..." required >
							</div>
						</div>
					</div>
               <div class="form-group" >
                        <label class="col-sm-4 control-label">Descripción del Sector:</label>
						<div class="col-sm-7"> 
							<div class="form-group">
								<input required type="text" class="form-control" ng-model="Route.Route_Description" placeholder="Descripción del sector..." required >
							</div>
						</div>
					</div>
                <div class="form-group" >
                        <label class="col-sm-4 control-label">Path del Sector:</label>
						<div class="col-sm-7"> 
							<div class="form-group">
								<textarea  type="text" class="form-control" ng-model="Route.Route_Path" placeholder="Path del sector..."></textarea>
							</div>
						</div>
					</div>
                   
                  </div><!-- /.box-body -->
                  <div class="box-footer">
                    <div class="container">
                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i>  Guardar Ruta</button>
                    <button type="reset" ng-click="Show_Components.Route_Form = false; Show_Components.Route_Table = true; Show_Components.Route_Add = true; Show_Components.Export = true;" class="btn btn-primary"><i class="glyphicon glyphicon-remove"></i>  Cancelar</button>
                    </div>
                  </div><!-- /.box-footer -->
                </form>
                    <div ng-show="Show_Alerta" class="alert alert-warning" role="alert"> <strong>*</strong> Existe<span ng-show="Tam_VisitPoint > 1">n</span>: {{Tam_VisitPoint}} Establecimiento<span ng-show="Tam_VisitPoint > 1">s</span> asignado<span ng-show="Tam_VisitPoint > 1">s</span> para éste Sector. </div>
                </div> 
            </div>
            </div>  
  </div>
            </div>
  
  <!--Table-->
  
      <div ng-show="Show_Components.Route_Table" id="New_VisitPoint" class="table-responsive" style="margin-left: 1%;width: 98%; margin-right: 1%;" >
        
         <div class="text-right">
    <span> 
      Número de registro por página: <input ng-model="pageSize" placeholder="10" type="number" min="1" size="2">
    </span>
    <button class="btn btn-info" ng-disabled="currentPage == 0"  style="background-color:#4096c6; color:#fff; " ng-click="currentPage=currentPage-1"> <i class="fa fa-angle-double-left"></i> </button>    
      <span>{{currentPage+1}}/{{numberOfPages()}}</span>    
    <button class="btn btn-info" style="background-color:#4096c6; color:#fff; " ng-disabled="currentPage >= ArrayRoute.length/pageSize - 1" ng-click="currentPage=currentPage+1"> <i class="fa fa-angle-double-right"></i> </button>
    </div>
        
    <table class="table table-responsive table-striped table-hover"  class="resizable" >
     <thead >   
        <tr style="background-color:#4096c6; color:#fff; align:center">   
         <th style="width:auto;">Nº fila</th>
        <th>
          <p class="" />
       	 <input type="checkbox"  ng-model="master" ng-click="Checking_Checkboxes_Check_Master(master);"/>
        </th>
        <th style="text-align:center" ng-repeat="headers in ArrayHeaders" ><!--ng-click="To_Order_By(headers.value);"--><!--i class="glyphicon glyphicon-sort"></i-->   {{headers.es}}<span class="dropdown">
    <span class="caret dropdown-toggle" type="button" data-toggle="dropdown">&nbsp;&nbsp;
    </span> 
    <ul class="dropdown-menu">
      <li class="dropdown-header"><b>Alineación de texto</b></li>
      <li><a class="glyphicon glyphicon-align-left" ng-click="Change_Class('text-left',headers.value)"><b> Izquierda</b></a> </li>
      <li><a class="glyphicon glyphicon-align-center" ng-click="Change_Class('text-center',headers.value)"><b> Centro</b></a> </li>
      <li><a class="glyphicon glyphicon-align-right" ng-click="Change_Class('text-right',headers.value)"><b> Derecha</b></a> </li>
      <li><a class="glyphicon glyphicon-align-justify" ng-click="Change_Class('text-justify',headers.value)"><b> Justificaado</b></a> </li>
      <li class="dropdown-header"><b>Ordenamiento de texto</b></li>
      <!--<li><a class="glyphicon glyphicon-chevron-up" ng-click="To_Order_By(header.value)desc"></a></li>-->
      <li><a class="glyphicon glyphicon-sort" ng-click="To_Order_By(header.value)"><b> Ascendente / Descendente</b></a> </li>
    </ul>
  </span></th>
      </tr>
       <tr> 
          <th>
          </th>
          <th>	
          </th>
          <th >
            <input ng-model="search.Route_Name">
          </th>
          <th >
            <input ng-model="search.ID_Route">
          </th>
          <th >
            <input ng-model="search.Route_Description">
          </th>
        </tr>
    </thead>
    <tbody>
      <tr  ng-repeat="Obj in ArrayRoute | startFrom:currentPage*pageSize | limitTo:pageSize  | filter: search |  orderBy: OrderList">
        <td ng-click="Visualize_Route(Obj);">{{$index+1}}</td>
        <td>
          <input type="checkbox" name="CheckBox_Options" ng-checked="master" id_check="{{Obj._id.$id}}" ng-click="Checking_Checkboxes_Check();" value="{{Obj}}" id_check="{{Obj._id.$id}}"/> 
         
        	<!--<a >
           <div class="btn-group" role="group" aria-label="...">
 				<i class="btn btn-danger glyphicon glyphicon-remove-sign"  data-toggle="tooltip" title="Eliminar" ng-click="Remove_Message(obj);"></i>
        	  </div> 
          </a>-->
        </td>
        <td style="text-align:left" ng-click="Visualize_Route(Obj);"ng-class="Align_class_Route_Name">{{Obj.Route_Name}}</td>
		  <td style="text-align:left" ng-click="Visualize_Route(Obj);"ng-class="Align_class_ID_Route">{{Obj.ID_Route}}</td>
        <td style="text-align:left" ng-click="Visualize_Route(Obj);"ng-class="Align_class_Route_Description">{{Obj.Route_Description}}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
    <td colspan="5" class="text-center"> 
    <div>
      
    <button class="btn btn-info" ng-disabled="currentPage == 0" style="background-color:#4096c6; color:#fff; " ng-click="currentPage=currentPage-1"> <i class="fa fa-angle-double-left"></i> </button>
    
      <span>{{currentPage+1}}/{{numberOfPages()}}</span>      
      
    <button class="btn btn-info" ng-disabled="currentPage >= ArrayUser.length/pageSize - 1"  style="background-color:#4096c6; color:#fff; "ng-click="currentPage=currentPage+1"> <i class="fa fa-angle-double-right"></i> </button>
      
    </div>    
    </td>
      </tr>
      </tfoot>
  </table>
</div>
  
    <!-- Modal -->
<div class="modal fade" id="Charging" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header modal-header-primary">
                         <h4 class="modal-title" id="myModalLabel">DTS</h4>
                </div>
                <div class="modal-body">
                <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
                </div>
                <div class="modal-footer">
                   
                </div>
            </div>
        </div>
    </div>
</div>
		

			
                          
           


     
  
</div>