<div class="container" ng-controller="Scr_Restoring_DB_Controller" ng-init="init()">   
  
	<div class="modal fade" id="Charge_New_Modal" role="dialog">
		<div class="vertical-alignment-helper modal-dna">
			<div class="modal-dialog vertical-align-center  modal-lg">
				<div class="modal-content">
					<div class="modal-header modal-header-primary">
						<button type="button" class="close" ng-click="Close_Modal('#Charge_New_Modal');">&times;</button> 
						<h4 style="text-align: center;"><span class="fa fa-history"></span><label>  Restauracion de base de datos </label></h4>
					</div>
					<div class="modal-body">
          <form ng-show="Show_Data" ng-submit="Save_Data(Restoring)">     
          <div class="row"> 
            <div class="col-sm-1">	</div>
           <div class="col-sm-9">	
                <div name="form" id="form" class="form-horizontal">   
                  <div class="input-group">
                  <label>Usuario</label>
                  <input type="" class="form-control" list="Users" size="60" ng-model="Restoring.User"  placeholder="Usuario(Vehiculo)"required>
              <datalist id="Users">
                  <option ng-repeat="Obj in User_Truck | orderBy:'User' "  ng-value="{{Obj.User+'('+Obj.ID_Truck+')'}}">{{Obj.User+'('+Obj.ID_Truck+')'}}</option>
              </datalist> 
                </div>
						<br/>
                    <div class="input-group">
                  <label>Contraseña</label>
                        <input id="password" type="password" required class="form-control" size="57"name="password" ng-model="Restoring.Password"  placeholder="Contrase&ntilde;a...">
                    </div>                                                                  
						<br/>
                  <div class="input-group">
                  <label>Función </label>
                  <textarea class="form-control" rows="4" cols="60" ng-model="Restoring.Script" required placeholder="Función..."></textarea>
                </div>                                                                
						<!--br/>
                  <div class="input-group">
                  <label>Funcion onError</label>
                  <textarea class="form-control" rows="4" cols="50"  ng-model="Restoring.onError" required placeholder="onError..."></textarea>
                </div>                                                                
						<br/-->
                  
                                                                               
						<br/>
                   
						<br/>
                    <div class="form-group" >
                
                       
                        <div class="col-sm-12 controls">   
                          <button type="reset" class="btn btn-primary pull-right" style="background-color: #014D7C;color:#fff;" >
                            <i class="glyphicon glyphicon-erase"></i> Limpiar</button>  
                           <button type="submit"  class="btn btn-primary pull-right" style="background-color: #014D7C;color:#fff;" >
                             <i class="glyphicon glyphicon-log-in"></i> Enviar</button>   
                      </div>
                    </div>
                </div>            
           </div>          
            <div class="col-sm-2">	</div>            
        </div>    
      
        </form>        
               <form ng-show="Show_No_Data" >  
                  <div >
                    <h2 > <i class="glyphicon glyphicon-warning-sign danger" ></i> 
                      En este momento no se cuenta con usuarios conectados.</h2>
                 </div>                                                                
						
                </form>      
                </div>
               <div class="modal-footer">
                 <button type="button" class="btn btn-primary pull-right" ng-click="Close_Modal('#Charge_New_Modal');" style="background-color: #014D7C;color:#fff;" >
                   <i class="glyphicon glyphicon-remove"></i> Cerrar</button>
          			   
                           
     <!-- <button type="button"  class="btn btn-primary pull-right" ng-click="Close_Modal('#NO_Data_Modal');" style="background-color: #014D7C;color:#fff;" ><i class="glyphicon glyphicon-remove"></i>Cerrar</button>
          		  
     <button type="button"data-dismiss="modal" class="btn btn-primary pull-left" ng-click="init()" style="background-color: #014D7C;color:#fff;" ><i class="glyphicon glyphicon-remove"></i>Refrescar</button>
          		--> </div>
            </div>
        </div>
    </div>
</div>
                                
   
	<!--div class="modal fade" id="NO_Data_Modal" role="dialog">
		<div class="vertical-alignment-helper modal-dna">
			<div class="modal-dialog vertical-align-center  modal-lg">
				<div class="modal-content">
					<div class="modal-header modal-header-primary">
						<button type="button" class="close" ng-click="Close_Modal('#Charge_New_Modal');">&times;</button> 
						<h4 style="text-align: center;"><span class="fa fa-history"></span><label>  Restauracion de base de datos </label></h4>
					</div>
					<div class="modal-body">
          <div class="row"> 
            <div class="col-sm-3">	</div>
           <div class="col-sm-6">	
                <div name="form" id="form" class="form-horizontal">   
              
                  <div class="input-group">
                  <label>En este momento no se cuenta con usuarios conectados.</label>
                 </div>                                                                
						
                </div>            
           </div>     
            <div class="col-sm-3">	</div>                
        </div>    
               
                  
                </div>
             
              
            </div>
        </div>
    </div>
</div-->                             
                                
                                
</div>