<div class="container" >   
   
 
<style type="text/css">
 
.contenedor {
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;}
    
.contenedor[class] {
    position: fixed; 
    display: table;}
    
.centrado {
    position: absolute; 
    top: 50%;}
 
.centrado[class] {
    display: table-cell; 
    vertical-align: middle;
    text-align: center; 
    position: static;
    }
    
.contenido {
    margin: 0 auto;
    position: relative;
    top: -50%;
    }
    
hr.style14 { 
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}
  
.Gradient{
  
background: rgba(147,206,222,1);
background: -moz-linear-gradient(left, rgba(147,206,222,1) 6%, rgba(102,181,203,1) 33%, rgba(73,165,191,1) 50%, rgba(95,177,200,1) 68%, rgba(117,189,209,1) 86%);
background: -webkit-gradient(left top, right top, color-stop(6%, rgba(147,206,222,1)), color-stop(33%, rgba(102,181,203,1)), color-stop(50%, rgba(73,165,191,1)), color-stop(68%, rgba(95,177,200,1)), color-stop(86%, rgba(117,189,209,1)));
background: -webkit-linear-gradient(left, rgba(147,206,222,1) 6%, rgba(102,181,203,1) 33%, rgba(73,165,191,1) 50%, rgba(95,177,200,1) 68%, rgba(117,189,209,1) 86%);
background: -o-linear-gradient(left, rgba(147,206,222,1) 6%, rgba(102,181,203,1) 33%, rgba(73,165,191,1) 50%, rgba(95,177,200,1) 68%, rgba(117,189,209,1) 86%);
background: -ms-linear-gradient(left, rgba(147,206,222,1) 6%, rgba(102,181,203,1) 33%, rgba(73,165,191,1) 50%, rgba(95,177,200,1) 68%, rgba(117,189,209,1) 86%);
background: linear-gradient(to right, rgba(147,206,222,1) 6%, rgba(102,181,203,1) 33%, rgba(73,165,191,1) 50%, rgba(95,177,200,1) 68%, rgba(117,189,209,1) 86%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#75bdd1', GradientType=1 );
  
}
</style>
 
<div class="contenedor">
    <div class="centrado">
        <div class="contenido">
        
          <div class="row">
     
     <div class="col-md-4 ">
       
     </div>
     <div class="col-md-4 text-center text-uppercase">
       <img src="images/EPRAC.png" class="img-responsive" alt="Eprac Supply">
     </div>
     <div class="col-md-4">
       
     </div>
     
   </div>  
      <hr class="style14"> 
          
   <div class="Gradient">
     
         
  <div class="row">
     
     <div class="col-md-4">
       
     </div>
     <div class="col-md-4 text-center" style="color: white;">
       <h1>
         404
       </h1>
     </div>
     <div class="col-md-4">
       
     </div>
     
   </div> 
        
  <div class="row">
     
     <div class="col-md-4">
       
     </div>
     <div class="col-md-4 text-center" style="color: white;">
       <h3>
         Página no encontrada...
       </h3>
     </div>
     <div class="col-md-4">
       
     </div>
     
   </div> 
      </div>
          
          
   <hr class="style14">
   
    <div class="row">
     
     <div class="col-md-4">
       
     </div>
     <div class="col-md-4 text-center">
       <a href="javascript:history.back(-1);" class="btn btn-default">Regresar a la página anterior</a>
     </div>
     <div class="col-md-4">
       
     </div>
     
   </div> 
          
        </div>
    </div>
</div>
  
  
  
  
                                
</div>